<form action="{{ action }}" method="post"> 
  <input type="hidden" name="merchantId" value="{{ merchantId }}" />
  <input type="hidden" name="amount" value="{{ amount }}" />
  <input type="hidden" name="orderRef" value="{{ orderRef }}" />
  <input type="hidden" name="currCode" value="{{ currCode }}" />
  <input type="hidden" name="successUrl" value=" {{ successUrl }}" />
  <input type="hidden" name="failUrl" value="{{ failUrl }}" />
  <input type="hidden" name="cancelUrl" value="{{ cancelUrl }}" />
  <input type="hidden" name="payType" value="{{ payType }}" />
  <input type="hidden" name="lang" value="{{ lang }}" />
  <input type="hidden" name="mpsMode" value="{{ mpsMode }}" />
  <input type="hidden" name="payMethod" value="{{ payMethod }}" />
  <input type="hidden" name="secureHash" value="{{ secureHash }} " />
  <input type="hidden" name="remark" value="{{ remark }}" />
  <input type="hidden" name="redirect" value="{{ redirect }}" />
  <input type="hidden" name="oriCountry" value="{{ oriCountry }}" />
  <input type="hidden" name="destCountry" value="{{ destCountry }}" />
  <input type="hidden" name="threeDSTransType" value="{{ threeDSTransType }}" />
  <input type="hidden" name="threeDSCustomerEmail" value="{{ threeDSCustomerEmail }}" />
  <input type="hidden" name="threeDSDeliveryEmail" value="{{ threeDSDeliveryEmail }}" />
  <input type="hidden" name="threeDSMobilePhoneCountryCode" value="{{ threeDSMobilePhoneCountryCode }}" />
  <input type="hidden" name="threeDSMobilePhoneNumber" value="{{ threeDSMobilePhoneNumber }}" />
  <input type="hidden" name="threeDSHomePhoneCountryCode" value="{{ threeDSHomePhoneCountryCode }}" />
  <input type="hidden" name="threeDSHomePhoneNumber" value="{{ threeDSHomePhoneNumber }}" />
  <input type="hidden" name="threeDSWorkPhoneCountryCode" value="{{ threeDSWorkPhoneCountryCode }}" />
  <input type="hidden" name="threeDSWorkPhoneNumber" value="{{ threeDSWorkPhoneNumber }}" />
  <input type="hidden" name="threeDSAcctCreateDate" value="{{ threeDSAcctCreateDate }}" />
  <input type="hidden" name="threeDSAcctAgeInd" value="{{ threeDSAcctAgeInd }}" />
  <input type="hidden" name="threeDSAcctPurchaseCount" value="{{ threeDSAcctPurchaseCount }}" />
  <input type="hidden" name="threeDSAcctNumTransDay" value="{{ threeDSAcctNumTransDay }}" />
  <input type="hidden" name="threeDSAcctNumTransYear" value="{{ threeDSAcctNumTransYear }}" />
  <input type="hidden" name="threeDSAcctAuthTimestamp" value="{{ threeDSAcctAuthTimestamp }}" />
  <input type="hidden" name="threeDSBillingCountryCode" value="{{ threeDSBillingCountryCode }}" />
  <input type="hidden" name="threeDSBillingState" value="{{ threeDSBillingState }}" />
  <input type="hidden" name="threeDSBillingCity" value="{{ threeDSBillingCity }}" />
  <input type="hidden" name="threeDSBillingLine1" value="{{ threeDSBillingLine1 }}" />
  <input type="hidden" name="threeDSBillingLine2" value="{{ threeDSBillingLine2 }}" />
  <input type="hidden" name="threeDSBillingPostalCode" value="{{ threeDSBillingPostalCode }}" />
  <input type="hidden" name="threeDSShippingCountryCode" value="{{ threeDSShippingCountryCode }}" />
  <input type="hidden" name="threeDSShippingState" value="{{ threeDSShippingState }}" />
  <input type="hidden" name="threeDSShippingCity" value="{{ threeDSShippingCity }}" />
  <input type="hidden" name="threeDSShippingLine1" value="{{ threeDSShippingLine1 }}" />
  <input type="hidden" name="threeDSShippingLine2" value="{{ threeDSShippingLine2 }}" />
  <input type="hidden" name="threeDSIsAddrMatch" value="{{ threeDSIsAddrMatch }}" />
  <input type="hidden" name="threeDSShippingDetails" value="{{ threeDSShippingDetails }}" />
  <input type="hidden" name="threeDSChallengePreference" value="{{ threeDSChallengePreference }}" />
  <input type="hidden" name="threeDSAcctAuthMethod" value="{{ threeDSAcctAuthMethod }}" />
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>