<form action="{{ action }}" method="post"> 
  <input type="hidden" name="merchantId" value="{{ merchantId }}" />
  <input type="hidden" name="amount" value="{{ amount }}" />
  <input type="hidden" name="orderRef" value="{{ orderRef }}" />
  <input type="hidden" name="currCode" value="{{ currCode }}" />
  <input type="hidden" name="successUrl" value=" {{ successUrl }}" />
  <input type="hidden" name="failUrl" value="{{ failUrl }}" />
  <input type="hidden" name="cancelUrl" value="{{ cancelUrl }}" />
  <input type="hidden" name="payType" value="{{ payType }}" />
  <input type="hidden" name="lang" value="{{ lang }}" />
  <input type="hidden" name="mpsMode" value="{{ mpsMode }}" />
  <input type="hidden" name="payMethod" value="{{ payMethod }}" />
  <input type="hidden" name="secureHash" value="{{ secureHash }} " />
  <input type="hidden" name="remark" value="{{ remark }}" />
  <input type="hidden" name="redirect" value="{{ redirect }}" />
  <input type="hidden" name="oriCountry" value="{{ oriCountry }}" />
  <input type="hidden" name="destCountry" value="{{ destCountry }}" />
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>